body {
  margin: 0;
  font-family: helvetica;
}

#map {
  /*width: 500px;
  height: 500px;*/
  
  z-index: 1
  margin: 0;
  height: 100vh;
  position: fixed;
  /*background-color: none;*/
}

#overlay {
  width: 100%;
  display: flex;
  padding: 00px;
  background-color: #ffff00;
  position: fixed;
  z-index: 9;
  box-shadow: 3px 4px 56px 19px rgba(0,0,0,0.75);
}

#this-div {
  display: flex;
  flex-wrap: wrap;
}

#title {
  background-color: #000000;
  padding: 30px;
  padding-bottom: 1px;
  padding-top: 20px;
}

#main {
  padding: 30px;
  padding-top: 15px;
  background-color: none;
}

#footer {
  z-index: 10;
  position: fixed;
  /*height: 5%;*/
  margin-left: 100px;
  padding: 0;
  /*position:absolute;*/
    bottom:0;
  /*width: 100%;*/
  background-color: #000000;
  box-shadow: 3px 4px 56px 19px rgba(0,0,0,0.75);
}

#footer > div > p {
  margin: 5px;
  padding-left: 30px;
  padding: 0;
  /*color: white;*/
  margin-right: 5%;
/*  font-family: 'Maven Pro';*/
  /*float: right;*/
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  margin-top: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

#notes-select {
  color: #ffffff;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}

#show-notes:hover {
  cursor: pointer;
}

#hide-notes:hover {
  cursor: pointer;
}

#show-description:hover {
  cursor: pointer;
  color: #FF4500;
}

#hide-description:hover {
  cursor: pointer;
  color: #FF4500;
}

#notes {
  background-color: #ffff00;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin: 0;
}

#notes p {
  margin-left: 0;
  padding-left: 0;
}